  
{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section card">
          <div class="media-body">
            <div class="article-metadata"><i>
              <a class="mr-2" href="#" class="text-secondary">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small></i>
            </div>
            <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}